@media (max-width: 800px) {
	.navigation {
		display: none;
	}
	.bar {
		display: block;
	}
	.first-block {
		justify-content: space-around;
	}
}
@media (max-width: 670px) {
	.wraper{
		flex-wrap: wrap;
	}
	.container {
		flex-wrap: wrap;
		width: 100%;
	}
	.s3{
		flex-wrap: wrap;
	}
	.s3-child2 img {
		max-width: 200px;
		width: 100%;
	}
	.s2-image  img{
		height: 1350px;
	}
	.s2-child p {
		font-size: 24px;
	}
	.s2-child {
		top: 80px;
		left: 80px;
	}
	.child2, .child1-wraper{
		flex-wrap: wrap;
	}
	.child2 img {
		max-width: 100%;
		width: 100%;
	}
	.child1 {
		max-width: 132px;
		width: 100%;
	}
	.child1-image {
		margin-right: 0;
		margin-top: 5px;
	}
	.child1 .h3 {
		font-size: 22px;
	}
	.f {
		flex-wrap: wrap;
	}
	footer {
		height: 500px;
	}
	.s4 h3 {
		font-size: 18px;
		margin-bottom: 5px;
		margin-top: 2px;
	}
	.s4-wraper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.s3-child h3 {
		font-size: 18px;
	}
	.s4 {
		margin: 0;
		margin-top: 124px;
		justify-content: center;
		align-items: center;
	}
	.bar {
		display: block;
		display: flex;
		justify-content: flex-end;
	}
}
@media (max-width: 555px) {
	.wraper1 {
		max-width: 180px;
		width: 100%;
	}
	footer {
		height: 700px;
	}
	.s3 {
		justify-content: space-between;
	}
}